.grid-card{
    background:rgb(0, 0, 0, 0.7) !important;
}

.card-title{
    padding:10% !important;
    background:rgb(0, 0, 0, 0.7) !important
}

.card{
    width:80%;
    height:70% !important;
    background:transparent !important;
    color:white
}

.card:hover{
    transform:scale(1.05);
    transition: ease-out 0.5s;
}