#singleMealCol{
    color: white;
    background:rgba(0, 0, 0, 0.5);
}

.singleMealParagraph{
    line-height: 180%;
    font-size:20px;
    padding:1rem;
    text-align: start;
}

hr{
    border-top:5px solid rgba(170, 165, 165, 0.7) !important
}