#singleMealCol{
    color: white;
    background:rgba(0, 0, 0, 0.5)
}

.backButton{
    float:left
}

.mealIngredients, .mealSummary, .mealInstructions{
    line-height: 180%;
    font-size:20px;
    padding:1rem;
    text-align: start;
}

.scroll-a{
    text-decoration: none !important;
    color:white !important
}

.scroll-a:hover{
    text-decoration: none !important;
    color:black !important
}

hr{
    border-top:2px solid rgba(170, 165, 165, 0.7) !important
}

.mealImage{
    width:60%;
    height: auto;
}

.clockIcon, .personIcon{
    margin-left:2%
}

p{
    text-align: center;
}
