#singleMealCol{
    color: white;
    background:rgba(0, 0, 0, 0.5)
}

.backButton{
    float:left
}

.mealIngredients, .mealSummary, .mealInstructions{
    line-height: 180%;
    font-size:20px;
    padding:1rem;
    text-align: start;
    color: rgb(241, 228, 202);
}

hr{
    border-top:2px solid rgba(170, 165, 165, 0.7) !important
}

.mealImage{
    width:60%;
    height: auto;
}

.clockIcon, .personIcon{
    margin-left:2%
}

p{
    text-align: center;
}

@media only screen and (max-width:800px){
    .backButtonWrapper{
        background: rgba(0, 0, 0, 0.5)
    }
}