#container{
    margin:0px !important;
    width:99vw;
    height:100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
    background: linear-gradient( rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.2)), url('../food.jpg');
}