.navbar{
    background: rgb(77, 51, 51);
}

#basic-nav-dropdown{
    color:rgb(5, 168, 5)  !important
}

.dropdown-menu{
    background: rgb(77, 51, 51) !important;
}

.dropdown-item{
    color:rgb(5, 168, 5) !important
}