.sidebar-header{
    font-size: 1.5rem;
    color:#999999;
    margin-top:10%
}

.navbar{
   position:absolute !important;
   display:none !important
}

.nav-pills .nav-stacked{
   display:none
}

#hiddenInput{
     position:relative;
     z-index: 12;
     width:40px;
     height:30px;
     visibility: hidden;
   }

.fa-stack{
   height:0;
   float:right;
   margin-right:5%
}


#sidebar-wrapper:hover .fa-stack{
   float:left
}

.filterIcon{
   display:none
}

.nav-pills>li>a{
    border-radius: 0;
 }
 
.special-a{
    text-decoration: none;
    font-size: 1.2em;
    background: rgb(255, 255, 255, 0.1);
}

.special-div{
   color:#fff;
   cursor:default;
   background: rgba(255, 255, 255, 0.2);
 }

 #wrapper{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }
 
 #sidebar-wrapper:hover{
    margin-left: -250px;
    padding-left:0px;
    overflow-y:scroll;
 }

 #sidebar-wrapper:hover .random-button{
   display:block
 }

 #sidebar-wrapper:hover .nav-pills .nav-stacked{
    display:inherit
 }
 #sidebar-wrapper{
    z-index: 1;
    position: absolute;
    overflow: hidden;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -450px;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }
 
 #wrapper.toggled #sidebar-wrapper{
    width: 250px;
 }
 
 #page-content-wrapper{
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }
 
 .xyz {
    min-width: 360px;
 }

 i {
    line-height: 35px !important;
 }

 
 #wrapper.toggled #page-content-wrapper{
    position: relative;
    margin-right: 0px;
 }
 
 .fixed-brand{
    width: auto;
 }
 
 .sidebar-nav{
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
 }
 
 .sidebar-nav li{
    text-indent: 15px;
    line-height: 30px;
 }

 .custom-switch{
    text-align: left;
 }
 
 .sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #999999;
 }

 .special-a:hover{
    color:#fff;
    border-left: none;
 }

 .sidebar-nav li .special-a:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: green 2px solid;
 }

 .custom-switch:hover{
   text-decoration: none;
   color: #fff;
   background: rgba(255, 255, 255, 0.2);
   border-left: green 2px solid;
 }
 
 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
 }
 
 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }
 
 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }

 .random-button{
   display:none;
   width: 80%;
   padding-left:10%;
   margin-left:10%;
   margin-right: auto;
   border: 1px solid rgb(87, 83, 83);
   border-radius: 5px;
   color:#fff;
   background:rgba(255, 255, 255, 0.2)
}

.random-button:hover{
   transform:scale(1.1)
}

.random-button:hover .fa-random{
   transform:scale(1.1);
}

.fa-random{
   padding-right:50%
}

.apply-button{
   display:block;
   width:80%;
   border-radius:5px;
   background-color: green;
   color:white;
   border: none
}

.apply-button:hover{
   transform: scale(1.1);
}
 
 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }
 
 .no-margin {
    margin: 0;
 }

 .custom-control-label{
    color:#fff
 }
 
 @media(min-width:870px) {
    /* #wrapper {
       padding-left: 250px;
    } */

    .fixed-brand {
       width: 250px;
    }

    #wrapper.toggled {
       padding-left: 0;
    }

    #sidebar-wrapper {
       width: 250px;
    }
/* 
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    } */

    #page-content-wrapper {
       padding: 20px;
       position: relative;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }

 @media only screen and (max-width: 870px){
   .navbar{
      display:flex !important;
      width:120px;
      padding-left:0px
   } 

   .ToBe{
     position:absolute;
     top: 95vh;
     left: 50vw;
     margin-left:auto;
     margin-right: auto;
     padding-top: 10px;
     transform: translate(-50%, -50%);
     z-index:3;
     background:rgba(46, 44, 44, 0.911);
     width: 100px;
     height: 60px;
     border-top-left-radius: 70px;
     border-top-right-radius: 70px;
     border: none;
     border-bottom: 0;
   }
 
   .ToBe::after,
   .ToBe::before,
   .ToBe div{
     background-color: rgb(237, 240, 235);
     border-radius: 3px;
     content:'';
     display:block;
     height:5px;
     width:30px;
     margin: 7px auto;
     transition: .5s ease-in-out;
   }
 
   #hiddenInput:checked + .ToBe::before{
      transform: translateY(12px) rotate(-130deg)
   }

   #hiddenInput:checked + .ToBe::after{
     transform: translateY(-12px) rotate(130deg)
   }

   #hiddenInput:checked + .ToBe div{
     transform: scale(0) translateX(-200px) rotate(360deg);
     transition: 1.3s ease-out
   }

   #sidebar-wrapper{
     z-index: 1;
     position: absolute;
     overflow: scroll;
     display: flex;
     justify-content: center;
     width: 100vw;
     left:0;
     margin-left:0px;
     background: #000;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
   } 

  .fa-stack{
      float:left
   }

   #menu{
      max-height:85%;
      overflow-y: scroll;
   }

   .apply-button{
      margin-left:auto;
      margin-right:auto
   }

   .openNav{
      display:flex !important;
   }

   .closeNav{
      display:none !important;
   }

   #sidebar-wrapper:hover {
      margin-left: 0px;
      overflow-y:scroll;
   } 

   .nav-pills .nav-stacked{
      display: block;
      margin:0px;
      padding:0px
   }

   .random-button{
      display: block;
   }
 }

 @media only screen and (max-width: 400px){
   #sidebar-wrapper{
      padding-left:0px;
      display: flex;
      justify-content: center;
   }

   #sidebar-wrapper:hover{
      padding-left: 0px;
   }

   #menu{
      max-height: 90vh;
   }
 }